@model ShopEnMart.Data.Product
@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="rightpart">
    <div class="dashBx" style="background-color: #ffffff">
        <h1 class="col-sm-12 bg-primary" style="color: #fff;">@ViewBag.Title.ToUpper()</h1>
        <div id="AddNewPage" class="pull-right">
            <a href="/Admin/AddProduct" class="btn btn-success">
                Add New Product
            </a>
        </div>
        <table style="background-color: #ffffff">
            <tbody>
                <tr>
                    <th>Product Name</th>
                    <td>@Model.ProductName</td>
                </tr>
                <tr>
                    <th>Category Name</th>
                    <td>@Model.Category.CategoryName</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>@Model.Price</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>@Html.Raw(Model.Description)</td>
                </tr>
                <tr>
                    <th>Is Active</th>
                    <td>@(Model.IsActive == true ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <th>Is Featured</th>
                    <td>@(Model.IsFeatured == true ? "Yes" : "No")</td>
                </tr>


            </tbody>
            <tr>
                <td colspan="2">
                    @if (Model.ProductImage != null && Model.ProductImage != "")
                {
                    <img src="@(Path.Combine(System.Configuration.ConfigurationManager.AppSettings["ProductImage"], "Large/", Model.ProductId + "_" + Model.ProductImage))" alt="" id="ImgProfServiceBanner" />
                }
                else
                {
                    <img src="/images/No Photo.png" alt="" id="ImgProfServiceBanner" />
                }
            </td>
        </tr>
    </table>
</div>
</div>
